<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   WalletClient

   Created by 张宁宁 on 2018/6/21.
   Copyright (c) 2018年 Mr.ZNN. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://mmtn365.com/qhb.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://mmtn365.com/qhb57.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://mmtn365.com/qhb.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.newqhb.qhb</string>
                    <key>bundle-version</key>
                    <string>1.0.6</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>日赚两百</string>
                    <key>title</key>
                    <string>赚钱抢红包</string>
                </dict>
            </dict>
        </array>
    </dict>
   
</plist>